<div class="container-fluid mt-4">
    <div class="img">
        <img src="../../assets/Soutenance/goyavier.png" alt="">
    </div>
</div>
<h1 class="mx-2 mt-4">Description</h1>


<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
        integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
        integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

    <div class="container-fluid">
        <div class="col-12 ">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="mb-3">
                        <!-- <h5 class="card-title pt-2 fw-bold text-primary">Liste des formateurs <span
                                class="fw-normal ms-2">é"</span>
                        </h5> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div class="table-responsive">
                            <table class="table project-list-table table-nowrap align-middle table-borderless">
                                <thead>
                                    <!-- ----------------------- Tittre tableau en haut---------------------------
                                --------------------------------------------------- -->
                                    <tr class=" text-light test" style="background: #2D6650;">
                                        <th scope="col">Durée de floraison</th>
                                        <th scope="col">Espacement</th>
                                        <th scope="col">Arrosage </th>
                                        <th scope="col">période Normal</th>
                                        <!-- <th scope="col" style="width: 300px;">Action</th> -->
                                    </tr>
                                    <!-- ----------------------- Fin Tittre tableau en haut---------------------------
                                --------------------------------------------------- -->
                                </thead>
                                <tbody class="text-dark">
                                    <!-- ----------------------- Liste Element tableau start---------------------------
                                --------------------------------------------------- -->
                                    <tr >

                                        <td>
                                            <p class="text-body mb-0">text</p>
                                        </td>
                                        <td>
                                            <p class="text-body mb-0">text</p>
                                        </td>
                                        <td>
                                            <p class="text-body mb-0">text</p>
                                        </td>
                                        <td>
                                            <p class="text-body mb-0">text</p>
                                        </td>

                                    </tr>
                                    <!-- ----------------------- Fin Element liste tableau---------------------------
                                ----------------------------------------------------------------------------- -->


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid pt-4">
    <p style="color: #2D6650;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique numquam sed ducimus minus est adipisci possimus voluptatem officia nisi. Nemo, harum. Quod perferendis iusto ipsa quasi earum nesciunt iste distinctio.
    </p>

    <p class="text-center fs-1 fw-bold py-4">Culture de la papaye</p>
</div>

<div class="container-fluid">
    <h2 class="fw-bold mb-3">Etape1</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quis at sunt, nemo error qui inventore ut sed similique, a veritatis beatae eius magnam vitae perferendis laboriosam! Reiciendis, quas. Dolores!
    </p>
</div>

<div class="container-fluid">
    <h2 class="fw-bold mb-3">Etape1</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quis at sunt, nemo error qui inventore ut sed similique, a veritatis beatae eius magnam vitae perferendis laboriosam! Reiciendis, quas. Dolores!
    </p>
</div>

<div class="container-fluid">
    <h2 class="fw-bold mb-3">Etape1</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quis at sunt, nemo error qui inventore ut sed similique, a veritatis beatae eius magnam vitae perferendis laboriosam! Reiciendis, quas. Dolores!
    </p>
</div>