<div class="container">
    <div class="row mt-4">
        <div class="container">
            <div class="row">
                <div>
                    <div>
                        <div class="row" style="margin: 20px auto;">
                            <img src="{{abasse}}" height="300" alt="">
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center mt-4" style="color: #25503F; font-size: 40px;">{{legume.tutoriels.titre}}</h1>
</div>

<div class="container">
    <div class="row">
        <!-- left ---------------------------------- -->
        <div class="col-12 col-md-8" >
            <div>
                <div class="container"  >
                    <div class="row lineR1" >
                       <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <img  src="{{ this.tt}}" alt="" width="200" height="90">
        
                            </div>
            
                            <div class="col-9">
                               <div style="margin-left: 100px;">
                                <h1 class="fw-bold mt-2  "></h1>
                                <p > </p>
                               </div>
                            </div>
                            
                        </div>
                       </div>
                    </div>
                   
                </div>
            </div>
        </div>
         <!-- right ---------------------------------- -->
        <div class="col-12 col-md-4">
            <div class="row lineR1 mb-3">
                <div class="entete " style="background: #D9D9D9;">
                    <h1 class="fw-bold">Description</h1>
                </div>
                <p class="pr py-2">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant </p>
            </div>

            <div class="row lineR1 mb-3">
                <h3 class="fw-bold">Durée de floraison</h3>
                <p class="pr">3 à 4 mois</p>
                <h3 class="fw-bold">Durée de floraison</h3>
                <p class="pr">3 à 4 mois</p>
                <h3 class="fw-bold">Durée de floraison</h3>
                <p class="pr">3 à 4 mois</p>
                <h3 class="fw-bold">Durée de floraison</h3>
                <p class="pr">3 à 4 mois</p>
            </div>
        </div>
    </div>
</div>

