<mat-nav-list>
    <div class="logo py-4" style="background: #25503F;">
      <img src="../../assets/logo1.png " height="70px"  alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    
  
    <mat-divider></mat-divider>
  <h2 matSubheader class="mt-4"></h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home" >
    <mat-icon style="color: white;">home</mat-icon> <span style="color: white;">Tableau de bord</span> 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/fruits">
    <img src="../../assets/Vector.png" alt="" height="20px" width="20px" class="img"> <span style="color: white;">Fruits </span> 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/legumes" >
    <img src="../../assets/Group.png" alt="" height="20px" width="20px" class="img"> <span style="color: white;">Légumes</span> 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/videos" >
    <mat-icon style="color: white;">videocam</mat-icon> <span style="color: white;">Vidéos</span> 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/conseils" >
    <mat-icon style="color: white;">comment</mat-icon> <span style="color: white;">Conseils</span> 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/alerte" >
    <mat-icon style="color: white;">alarm_on</mat-icon> <span style="color: white;">Alertes</span> 
  </a>
  
</mat-nav-list>





  
  