:host {
  .img,
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  img {
    width: 130px;
    height: 90px;
  }
}
.mat-divider {
  border-top-width: 2px;
  border-color: white;
}
.img{
  margin-bottom: 4px;
}
.mat-list-item {
  color: #94a3b8 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  &:hover {
    color: #2D6650 !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        background: #2c3344 !important;
      }
    }
  }
  
}
// .list-item-active {
  // background: blue !important;
  // border-radius: 0 2rem 2rem 0;
  // &:hover {
  //   background: blue;
  // }

// .list-item-active {
//   background: white !important;
//   opacity: 0.3;
//   //border-radius: 0 2rem 2rem 0;
//   &:hover {
//     background: #2D6650;
//   }



//   color: #f2f5f7 !important;
//   ::ng-deep {
//     .mat-list-item-content {
//       background: #ffffff !important;
//       &:hover {
//         background: #f5f5f5 !important;
//       }
//     }
//   }
// }
.mat-subheader {
  color: #818cf8;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}
