.princ {
    width: 95%;
    margin: 10px auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  }
  
  
  
  .contourTout {
    background: #FFFFFF;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  }
  
  .cercle {
    background: #3ECDB3;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
  }
  
  .noninitial {
    font-size: 1.7rem;
    position: relative;
    margin-left: 10px;
    top: 5px;
  }
  
  .nomComplet {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom:3px;
    margin-top: 10px;
  }
  
  .dateP {
    margin-bottom: 10px;
    font-size: .7rem;
    color: #868585;
    margin-right: 10px;
    margin-bottom: 0;
  }
  
  .heureP {
    margin-bottom: 10px;
    font-size: .5rem;
    margin-bottom: 0;
    padding: 3px;
    border-radius: 5px;
    background: #dad9d9;
  }
  
  .txtCommentaire {
    margin: 0;
    font-size: .6rem;
    line-height: 14px;
    margin-bottom: 5px;
  
  }
  
  ion-toolbar {
    --background: #2D6650;
    // padding: 5%;
  }
  
  ion-title {
    color: white;
  }
  
  // ========================
  
  .retourB {
    display: flex;
  }
  
  // ========================================================= HEADER ICONES
  .lefts ion-icon {
    color: white;
    font-size: 30px;
    cursor: pointer !important;
    padding: 0;
    margin-right: 15px;
  }
  
  .lefts .cart {
    position: absolute;
    right: 67px;
    top: 2px;
    background-color: red;
    color: white;
    height: 15px;
    border-radius: 100%;
    // text-align: center;
  }
  
  .lefts .notif {
    position: absolute;
    right: 16px;
    background-color: red;
    color: white;
    height: 15px;
    border-radius: 100%;
  }
  
  .paddingP {
    padding: 0;
    margin: 0;
  }
  
  .lefts ion-badge {
    font-size: 1px;
  }
  
  span {
    font-size: 10px;
  }
  
  // ================================================== SECTION BOUTON AJOUTER ET RECHERCHE
  .section1 {
    // box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
    position: fixed;
    background-color: #F8F6FB;
  
  }
  
  ion-fab {
    ion-fab-button {
      padding: 7px;
    }
  }
  
  // ======================================================= SECTION THEMES
  .sectionTheme {
    margin-top: 50% !important;
  }
  
  .contenu {
  
    width: 95%;
    margin: 2% auto;
    background: #fff;
    // border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 2%;
  
  }
  
  .row.princ p {
    // line-height: 12px;
  }
  
  .imgEtTheme {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
  
  }
  
  .imgEtTheme ion-avatar {
    width: 50px;
    height: 50px;
  }
  
  .imgEtTheme .titre p {
    font-weight: bold;
    font-size: 13px;
    overflow-wrap: break-word;
  }
  
  .imgEtTheme .titre span {
    font-size: 12px;
  }
  
  .commentaireEtVoirplus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    margin: 2%;
    align-items: center;
  }
  
  
  .commentaireEtVoirplus .voirplus {
    margin-top: 10px;
    font-weight: 900;
  }
  
  .commentaireEtVoirplus .voirplus a {
    text-decoration: none;
  }
  
  .commentaires {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
  }
  
  // =============================================================== MODAL
  ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }
  
  .forms h2 {
    font-size: 12px;
    margin: 10px;
    // color: #04CF72;
    font-weight: bold;
  }
  
  .forms button {
  
    padding: 10px;
    border-radius: 5px;
    background-color: #04CF72;
    color: white;
    margin: 10px auto !important;
  }

  textarea{
    width: 100%;
    height: 50px;
  }

  .pUsername{
    margin: 0;
  }

  .SectionQuestion{
    top: 75vh;
    position: fixed;
  }

  // ================SCROLL-BAR========================
ion-content {
    --offset-bottom:auto !important;
    --overflow: hidden;
    background-color: #fff;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
// ================SCROLL-BAR========================