
      <!-- <ion-icon class="button mx-4" (click)="back()" name="arrow-back-outline" style=" display: flex;
        align-items: center;
        justify-content: center;color: white;"></ion-icon>
       -->
  
  
  
  
    <div class="container">
      <div class="row contourTout align-items-center justify-content-center ms-2 me-2" *ngFor="let Reponse of reponse">
        <div class="col-3">
          <div class="cercle">
            <span class="noninitial text-uppercase">{{ Reponse.user.prenom.charAt(0) }}{{
              Reponse.user.nom.charAt(0)}}</span>
          </div>
        </div>
  
        <div class="col-9">
          <div>
            <p class="nomComplet">{{Reponse.user.nom}} {{Reponse.user.prenom}}</p>
            <div class="d-flex mb-1 align-items-center">
              <p class="dateP">{{ getFormattedDate(Reponse.timestamp) }} </p>
              <p class="heureP">{{ getFormattedTime(Reponse.timestamp) }}</p>
            </div>
  
            <p class="txtCommentaire">{{Reponse.reponse}}</p>
  
            <!-- <div class="commentaires mb-2">
              <div>
                <ion-fab-button style="width: 25px !important; height: 25px !important;">
                  22
                </ion-fab-button>
              </div>
              <div>
                <span> Reponses</span>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  
  
  
    <div class="container SectionQuestion ms-2 me-2">
      <div class="row align-items-center justify-content-center me-2 pt-4 contourTout">
        
        <form name="contact-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        
  
          <div class="row align-items-center">
            <div class="col-10">
              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="fw-bold mb-1">Repondre à une question</label>
                <textarea class="form-control" name="reponse" id="exampleFormControlTextarea1" rows="6" placeholder="Repondez à la question ici..."
                [(ngModel)]="form.reponse" required #reponse="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && reponse.errors }"
                ></textarea>
              </div>
            </div>
            <div class="col-2">
              <input type="submit" style="--background: #399C28;">
                <!-- <ion-icon name="navigate-circle-outline" class="fs-1">
                </ion-icon> -->
             
        
            </div>
          </div>
        </form>
  
      </div>
     </div>
    <!-- </div> -->
  
  
  
 