<h1 class="fw-bolder text-dark  h1" style="line-height: normal;">Tutoriels Vidéos</h1>

<div class="container py-3">
    <div class="row">
      <div class="col-md-3 mb-3">
        <select class="form-select" aria-label="Filtrer" (change)="changement()"   name="textFiltree"  [(ngModel)]="textFiltree">
          <label for="filtre" class="text-dark">Filtrer</label>
          <option selected>Filtrer</option>
          <option >Fruit</option>
          <option>Legume</option>
        </select>
        </div>
     
      <div class="col-md-6 mb-3">
        <div class="input-group">
          <input [(ngModel)]="searchText" type="search" class="form-control rounded" placeholder="Search"
            aria-label="Search" aria-describedby="search-addon" />
          <button (click)="rechargement()" type="button" class="btn btn-outline-primary">Rechercher</button>
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 100%;background: #399C28; color: white;">
          Ajouter une vidéo
        </button>
      </div>
    </div>
  </div>


<!-- =============================================================================================== -->

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mt-0 pt-0" *ngFor="let  Video of video | filter:searchText">
      <div class="card mb-3">
        <div >
          <video controls src="http://127.0.0.1/videoSoutenance/{{Video.video}}" alt="Image video"   class="card-img-top"></video>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-md-7">
              <div>
                <h2 class="h3 card-title ">{{Video.titre}}</h2>
              </div>
            </div>
            <div class="col-6 col-md-5">
              <div class="iconss align-items-center justify-content-center">
                <div class="d-flex">
                  <!-- <i class="bi bi-pencil-square"></i> -->
                  <!-- <i class="bi bi-eye"></i> -->
                  <span style="margin-left: 110px;" type="button" class="adpd" data-bs-toggle="modal" data-bs-target="#supprimer"
                  (click)="openModal(Video.nom, Video.id)"><i class="bi bi-trash" ></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>












<!-- =======================================MODAL====================================================== -->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter une vidéo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="col-12 col-md-12">
            <div class="mb-3">
              <label for="exampleInputPseudo" class="form-label">Titre de la vidéo</label>
              <input id="exampleInputTitre" type="text" class="form-control" name="videorecu"
                [(ngModel)]="form.videorecu" required #videorecu="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && videorecu.errors }">
              <div *ngIf="videorecu.errors && f.submitted" class="invalid-feedback">
                Ce champ est obligatoire!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Vidéo</label>
              <input id="exampleInputFile" (change)="filechange($event)" type="file" class="form-control" name="file"
                [(ngModel)]="form.file" required #file="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && file.errors }">
              <div *ngIf="file.errors && f.submitted" class="invalid-feedback">
                Ce champ est obligatoire!
              </div>
            </div>
          </div>

          <!-- <div class="col-12 col-md-12">
            <div class="mb-3">
                
              <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                  <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                  <a href="#about">About</a>
                  <a href="#base">Base</a>
                  <a href="#blog">Blog</a>
                  <a href="#contact">Contact</a>
                  <a href="#custom">Custom</a>
                  <a href="#support">Support</a>
                  <a href="#tools">Tools</a>
                </div>
              </div>

            </div>
        </div> -->

          <div class="form-group col-12 col-md-6 mb-3">
            <label for="legumeFruit">Selectionner le legume ou fruit concerné</label>
            <select name="legumeFruit.id" [(ngModel)]="form.legumeFruit" id="pet-select" class="form-control">
              <!-- <option>selectionner le legume ou fruit concerné<option> -->
              <option value="{{LegumeFruit.id}}" *ngFor="let LegumeFruit of fruitLegume">{{LegumeFruit.nom}}</option>
              <!-- <option value="Fruit">Fruit</option> -->
            </select>
          </div>

          <button type="submit" class="btn btn-primary mb-2 connexion text-white align-items-center" style="background: #399C28;">Valider</button>
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Vidéo ajouter avec succès
          </div>
          <div class="alert alert-success" *ngIf="f.submitted && isSuccessful">
            video non Ajouter!
          </div>
        </form>
        

      </div>
    </div>
  </div>
</div>